<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Electronic Store a Ecommerce Online Shopping Category Bootstrap Responsive Website Template | Home :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Electronic Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
	function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!-- Custom Theme files -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/fasthover.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="js/jquery.min.js"></script>
<link rel="stylesheet" href="css/jquery.countdown.css" /> <!-- countdown --> 
<!-- //js -->  
<!-- web fonts --> 
<link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //web fonts -->  
<!-- start-smooth-scrolling -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- //end-smooth-scrolling --> 
</head> 
<body>
	<!-- for bootstrap working -->
	<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
	<!-- //for bootstrap working -->
	<div class="header" id="home1">
		<div class="container">
			<div class="w3l_logo">
				<h1><a  th:href="@{/home}">Phong Vu Data Crawling<span>Your stores. Your place.</span></a></h1>
			</div>
			<div class="search">
				<input class="search_box" type="checkbox" id="search_box">
				<label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
				<div class="search_form">
					<form action="{/home}" method="post">
						<input type="text" name="Search" placeholder="Search...">
						<input type="submit" value="Send">
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- //header -->
	<!-- navigation -->
	<div class="navigation">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div> 
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav">
						<li><a th:href="@{/home}" class="act">Home</a></li>	
						<!-- Mega Menu -->
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sản Phẩm <b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="col-sm-3">
										<ul class="multi-column-dropdown">
											<h6>Mobiles</h6>
											<li><a th:href="@{/home/{productCatelogy}(productCatelogy=LapTop)}">LapTop</a></li>
											<li><a th:href="@{/home/{productCatelogy}(productCatelogy=Mobile)}">Điện Thoại Và Tablet</a></li> 
										</ul>
									</div>
									<div class="col-sm-3">
										<ul class="multi-column-dropdown">
											<h6>Phụ Kiên Và Thiết Bị Số</h6>
											<li><a th:href="@{/home/{productCatelogy}(productCatelogy=MHMT)}">Màn Hình Máy Tính</a></li>
											<li><a th:href="@{/home/{productCatelogy}(productCatelogy=Key)}">Chuột Bàn Phím Pad</a></li>
											<li><a th:href="@{/home/{productCatelogy}(productCatelogy=PhuKien}">Phụ Kiện </a></li>
											<li><a th:href="@{/home/{productCatelogy}(productCatelogy=Audio)}">Thiết Bị Âm Thanh</a></li>
										</ul>
									</div>
									<div class="col-sm-2">
										<ul class="multi-column-dropdown">
											<h6>Home</h6>
											<li><a th:href="@{/home/{productCatelogy}(productCatelogy=Security)}">Thiết Bị An Ninh</a></li>
											<li><a th:href="@{/home/{productCatelogy}(productCatelogy=Computer)}">Máy Tính Đồng Bộ</a></li>
											<li><a th:href="@{/home/{productCatelogy}(productCatelogy=VP)}">Thiết Bị Văn Phòng</a></li>
										</ul>
									</div>
									<div class="clearfix"></div>
								</div>
							</ul>
						</li>
						<li><a href="about.html">About Us</a></li>
						<li><a href="mail.html">Mail Us</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<!-- //navigation -->
	<!-- banner -->
	<div class="banner">
		<div class="container">
			<h3>Electronic Store, <span>Special Offers</span></h3>
		</div>
	</div>
	<!-- //banner --> 
	<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<div class="col-md-12 wthree_banner_bottom_right">
				<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					<ul id="myTab" class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home">Điện Thoại Và Tablet</a></li>
						<li role="presentation"><a href="#audio" role="tab" id="audio-tab" data-toggle="tab" aria-controls="audio">Thiết Bị Âm Thanh</a></li>
						<li role="presentation"><a href="#video" role="tab" id="video-tab" data-toggle="tab" aria-controls="video">Laptop</a></li>
						<li role="presentation"><a href="#tv" role="tab" id="tv-tab" data-toggle="tab" aria-controls="tv">Thiết Bị Văn Phòng</a></li>
						<li role="presentation"><a href="#kitchen" role="tab" id="kitchen-tab" data-toggle="tab" aria-controls="kitchen">Chuột Bàn Phím Pad</a></li>
					</ul>
					<div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<img th:attr="src=@{${lsMobile[0].getProductImages().get(8)}}" style="width: 196px; height: 223px" alt=" "  />
									<h5><a th:href="@{/home/{producCategory}/{productId}(producCategory=Mobile,productId=${lsMobile[0].productId})}" th:text="${lsMobile[0].productName}"></a></h5>
									<div class="simpleCart_shelfItem">
										<p><i class="item_price" th:text="${lsMobile[0].productPrice}"></i></p>
									</div>
								</div>
								<div class="col-md-4 agile_ecommerce_tab_left">
									<img th:attr="src=@{${lsMobile[3].getProductImages().get(0)}}" style="width: 196px; height: 223px" alt=" "  />
									<h5><a th:href="@{/home/{producCategory}/{productId}(producCategory=Mobile,productId=${lsMobile[3].productId})}" th:text="${lsMobile[1].productName}"></a></h5>
									<div class="simpleCart_shelfItem">
										<p> <i class="item_price"  th:text="${lsMobile[3].productPrice}"></i></p>
									</div>
								</div>
								<div class="col-md-4 agile_ecommerce_tab_left">
									<img th:attr="src=@{${lsMobile[2].getProductImages().get(1)}}" style="width: 196px; height: 223px" alt=" "  />
									<h5><a th:href="@{/home/{producCategory}/{productId}(producCategory=Mobile,productId=${lsMobile[2].productId})}" th:text="${lsMobile[2].productName}"></a></h5>
									<div class="simpleCart_shelfItem">
										<p> <i class="item_price" th:text="${lsMobile[2].productPrice}"></i></p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="audio" aria-labelledby="audio-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<img th:attr="src=@{${lsAudio[0].getProductImages().get(1)}}" style="width: 196px; height: 223px" alt=" "  />
									<h5><a th:href="@{/home/{producCategory}/{productId}(producCategory=Audio,productId=${lsAudio[1].productId})}" th:text="${lsAudio[1].productName}"></a></h5>
										<p> <i class="item_price" th:text="${lsAudio[1].productPrice}"></i></p>
									<div class="simpleCart_shelfItem">
								
									</div>
								</div>
								<div class="col-md-4 agile_ecommerce_tab_left">
									<img th:attr="src=@{${lsAudio[3].getProductImages().get(0)}}" style="width: 196px; height: 223px" alt=" "  />
									<h5><a th:href="@{/home/{producCategory}/{productId}(producCategory=Audio,productId=${lsAudio[3].productId})}" th:text="${lsAudio[3].productName}"></a></h5>
									<div class="simpleCart_shelfItem">
										<p> <i class="item_price"  th:text="${lsAudio[3].productPrice}"></i></p>
										
									</div>
								</div>
								<div class="col-md-4 agile_ecommerce_tab_left">
									<img th:attr="src=@{${lsAudio[4].getProductImages().get(0)}}" style="width: 196px; height: 223px" alt=" "  />
									<h5><a th:href="@{/home/{producCategory}/{productId}(producCategory=Audio,productId=${lsAudio[4].productId})}" th:text="${lsAudio[4].productName}"></a></h5>
									<div class="simpleCart_shelfItem">
										<p> <i class="item_price"  th:text="${lsAudio[4].productPrice}"></i></p>
										
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="video" aria-labelledby="video-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<img th:attr="src=@{${lsLapTop[0].getProductImages().get(0)}}" style="width: 196px; height: 223px" alt=" "  />
									<h5><a th:href="@{/home/{producCategory}/{productId}(producCategory=Laptop,productId=${lsLapTop[0].productId})}" th:text="${lsLapTop[0].productName}"></a></h5>
									<div class="simpleCart_shelfItem">
										<p> <i class="item_price" th:text="${lsLapTop[0].productPrice}"></i></p>
										
									</div>
								</div>
								<div class="col-md-4 agile_ecommerce_tab_left">
									<img th:attr="src=@{${lsLapTop[1].getProductImages().get(2)}}" style="width: 196px; height: 223px" alt=" "  />
									<h5><a th:href="@{/home/{producCategory}/{productId}(producCategory=Laptop,productId=${lsLapTop[1].productId})}" th:text="${lsLapTop[1].productName}"></a></h5>
									<div class="simpleCart_shelfItem">
										<p> <i class="item_price" th:text="${lsLapTop[1].productPrice}"></i></p>
										
									</div>
								</div>
								<div class="col-md-4 agile_ecommerce_tab_left">
									<img th:attr="src=@{${lsLapTop[2].getProductImages().get(0)}}" style="width: 196px; height: 223px" alt=" "  />
									<h5><a th:href="@{/home/{producCategory}/{productId}(producCategory=Laptop,productId=${lsLapTop[2].productId})}" th:text="${lsLapTop[2].productName}"></a></h5>
									<div class="simpleCart_shelfItem">
										<p> <i class="item_price" th:text="${lsLapTop[2].productPrice}"></i></p>
										
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="tv" aria-labelledby="tv-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<img th:attr="src=@{${lsVP[0].getProductImages().get(0)}}" style="width: 196px; height: 223px" alt=" "  />
									<h5><a th:href="@{/home/{producCategory}/{productId}(producCategory=VP,productId=${lsVP[0].productId})}" th:text="${lsVP[0].productName}"></a></h5>
									<div class="simpleCart_shelfItem">
										<p><i class="item_price" th:text="${lsVP[0].productPrice}"></i></p>
									</div>
								</div>
								<div class="col-md-4 agile_ecommerce_tab_left">
									<img th:attr="src=@{${lsVP[1].getProductImages().get(0)}}" style="width: 196px; height: 223px" alt=" "  />
									<h5><a th:href="@{/home/{producCategory}/{productId}(producCategory=VP,productId=${lsVP[1].productId})}" th:text="${lsVP[1].productName}"></a></h5>
									<div class="simpleCart_shelfItem">
										<p><i class="item_price" th:text="${lsVP[1].productPrice}"></i></p>
									</div>
								</div>
								<div class="col-md-4 agile_ecommerce_tab_left">
									<img th:attr="src=@{${lsVP[2].getProductImages().get(0)}}" style="width: 196px; height: 223px" alt=" "  />
									<h5><a th:href="@{/home/{producCategory}/{productId}(producCategory=VP,productId=${lsVP[2].productId})}" th:text="${lsVP[2].productName}"></a></h5>
									<div class="simpleCart_shelfItem">
										<p><i class="item_price" th:text="${lsVP[2].productPrice}"></i></p>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane fade" id="kitchen" aria-labelledby="kitchen-tab">
							<div class="agile_ecommerce_tabs">
								<div class="col-md-4 agile_ecommerce_tab_left">
									<img th:attr="src=@{${lsKey[0].getProductImages().get(0)}}" style="width: 196px; height: 223px" alt=" "  />
									<h5><a th:href="@{/home/{producCategory}/{productId}(producCategory=Key,productId=${lsKey[0].productId})}" th:text="${lsKey[0].productName}">Grinder</a></h5>
									<div class="simpleCart_shelfItem">
										<p><i class="item_price" th:text="${lsKey[0].productPrice}"></i></p>
										
									</div>
								</div>
								<div class="col-md-4 agile_ecommerce_tab_left">
										<img th:attr="src=@{${lsKey[1].getProductImages().get(0)}}" style="width: 196px; height: 223px" alt=" "  />
									<h5><a th:href="@{/home/{producCategory}/{productId}(producCategory=Key,productId=${lsKey[1].productId})}" th:text="${lsKey[1].productName}">Grinder</a></h5>
									<div class="simpleCart_shelfItem">
										<p><i class="item_price" th:text="${lsKey[1].productPrice}"></i></p>
										
									</div>
								</div>
								<div class="col-md-4 agile_ecommerce_tab_left">
									<img th:attr="src=@{${lsKey[2].getProductImages().get(0)}}" style="width: 196px; height: 223px" alt=" "  />
									<h5><a th:href="@{/home/{producCategory}/{productId}(producCategory=Key,productId=${lsKey[2].productId})}" th:text="${lsKey[2].productName}">Grinder</a></h5>
									<div class="simpleCart_shelfItem">
										<p><i class="item_price" th:text="${lsKey[2].productPrice}"></i></p>
										
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
				</div> 
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //banner-bottom --> 
	<!-- banner-bottom1 -->
	<div class="banner-bottom1">
		<div class="agileinfo_banner_bottom1_grids">
			<div class="col-md-7 agileinfo_banner_bottom1_grid_left">
				<h3>Grand Opening Event With flat<span>20% <i>Discount</i></span></h3>
				<a href="products.html">Shop Now</a>
			</div>
			<div class="col-md-5 agileinfo_banner_bottom1_grid_right">
				<h4>hot deal</h4>
				<div class="timer_wrap">
					<div id="counter"> </div>
				</div>
				<script src="js/jquery.countdown.js"></script>
				<script src="js/script.js"></script>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //banner-bottom1 --> 
	<!-- special-deals -->
	<div class="special-deals">
		<div class="container">
			<h2>Special Deals</h2>
			<div class="w3agile_special_deals_grids">
				<div class="col-md-7 w3agile_special_deals_grid_left">
					<div class="w3agile_special_deals_grid_left_grid">
						<img src="images/21.jpg" alt=" " class="img-responsive" />
						<div class="w3agile_special_deals_grid_left_grid_pos1">
							<h5>30%<span>Off/-</span></h5>
						</div>
						<div class="w3agile_special_deals_grid_left_grid_pos">
							<h4>We Offer <span>Best Products</span></h4>
						</div>
					</div>
					<div class="wmuSlider example1">
						<div class="wmuSliderWrapper">
							<article style="position: absolute; width: 100%; opacity: 0;"> 
								<div class="banner-wrap">
									<div class="w3agile_special_deals_grid_left_grid1">
										<img src="images/t1.png" alt=" " class="img-responsive" />
										<p>Quis autem vel eum iure reprehenderit qui in ea voluptate 
											velit esse quam nihil molestiae consequatur, vel illum qui dolorem 
											eum fugiat quo voluptas nulla pariatur</p>
										<h4>Laura</h4>
									</div>
								</div>
							</article>
							<article style="position: absolute; width: 100%; opacity: 0;"> 
								<div class="banner-wrap">
									<div class="w3agile_special_deals_grid_left_grid1">
										<img src="images/t2.png" alt=" " class="img-responsive" />
										<p>Quis autem vel eum iure reprehenderit qui in ea voluptate 
											velit esse quam nihil molestiae consequatur, vel illum qui dolorem 
											eum fugiat quo voluptas nulla pariatur</p>
										<h4>Michael</h4>
									</div>
								</div>
							</article>
							<article style="position: absolute; width: 100%; opacity: 0;"> 
								<div class="banner-wrap">
									<div class="w3agile_special_deals_grid_left_grid1">
										<img src="images/t3.png" alt=" " class="img-responsive" />
										<p>Quis autem vel eum iure reprehenderit qui in ea voluptate 
											velit esse quam nihil molestiae consequatur, vel illum qui dolorem 
											eum fugiat quo voluptas nulla pariatur</p>
										<h4>Rosy</h4>
									</div>
								</div>
							</article>
						</div>
					</div>
						<script src="js/jquery.wmuSlider.js"></script> 
						<script>
							$('.example1').wmuSlider();         
						</script> 
				</div>
				<div class="col-md-5 w3agile_special_deals_grid_right">
					<img src="images/20.jpg" alt=" " class="img-responsive" />
					<div class="w3agile_special_deals_grid_right_pos">
						<h4>Women's <span>Special</span></h4>
						<h5>save up <span>to</span> 30%</h5>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //special-deals -->
	<!-- top-brands -->
	<div class="top-brands">
		<div class="container">
			<h3>Top Brands</h3>
			<div class="sliderfig">
				<ul id="flexiselDemo1">			
					<li>
						<img src="images/tb1.jpg" alt=" " class="img-responsive" />
					</li>
					<li>
						<img src="images/tb2.jpg" alt=" " class="img-responsive" />
					</li>
					<li>
						<img src="images/tb3.jpg" alt=" " class="img-responsive" />
					</li>
					<li>
						<img src="images/tb4.jpg" alt=" " class="img-responsive" />
					</li>
					<li>
						<img src="images/tb5.jpg" alt=" " class="img-responsive" />
					</li>
				</ul>
			</div>
			<script type="text/javascript">
					$(window).load(function() {
						$("#flexiselDemo1").flexisel({
							visibleItems: 4,
							animationSpeed: 1000,
							autoPlay: true,
							autoPlaySpeed: 3000,    		
							pauseOnHover: true,
							enableResponsiveBreakpoints: true,
							responsiveBreakpoints: { 
								portrait: { 
									changePoint:480,
									visibleItems: 1
								}, 
								landscape: { 
									changePoint:640,
									visibleItems:2
								},
								tablet: { 
									changePoint:768,
									visibleItems: 3
								}
							}
						});
						
					});
			</script>
			<script type="text/javascript" src="js/jquery.flexisel.js"></script>
		</div>
	</div>
	<!-- //top-brands --> 
	<!-- newsletter -->
	<div class="newsletter">
		<div class="container">
			<div class="col-md-6 w3agile_newsletter_left">
				<h3>Newsletter</h3>
				<p>Excepteur sint occaecat cupidatat non proident, sunt.</p>
			</div>
			<div class="col-md-6 w3agile_newsletter_right">
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Email" required="">
					<input type="submit" value="" />
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //newsletter -->
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="w3_footer_grids">
				<div class="col-md-3 w3_footer_grid">
					<h3>Contact</h3>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
					<ul class="address">
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Nhóm 20</li>
						<li><p style="font-weight: bold; margin-left: 35px;">Võ Tài Nhân : 13520571</p></li>
						<li><p style="font-weight: bold;margin-left: 35px;">Trần Huy Thịnh : 13520830</p></li>
						<li><p style="font-weight: bold;margin-left: 35px;">Trần Văn Phát : 13520571</p></li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Information</h3>
					<ul class="info"> 
						<li><a href="about.html">About Us</a></li>
						<li><a href="mail.html">Contact Us</a></li>
						<li><a href="codes.html">Short Codes</a></li>
						<li><a href="faq.html">FAQ's</a></li>
						<li><a href="products.html">Special Products</a></li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Category</h3>
					<ul class="info"> 
						<li><a href="products.html">Mobiles</a></li>
						<li><a href="products1.html">Laptops</a></li>
						<li><a href="products.html">Purifiers</a></li>
						<li><a href="products1.html">Wearables</a></li>
						<li><a href="products2.html">Kitchen</a></li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>Profile</h3>
					<ul class="info"> 
						<li><a href="index.html">Home</a></li>
						<li><a href="products.html">Today's Deals</a></li>
					</ul>
					<h4>Follow Us</h4>
					<div class="agileits_social_button">
						<ul>
							<li><a href="#" class="facebook"> </a></li>
							<li><a href="#" class="twitter"> </a></li>
							<li><a href="#" class="google"> </a></li>
							<li><a href="#" class="pinterest"> </a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="footer-copy">
			<div class="footer-copy1">
				<div class="footer-copy-pos">
					<a href="#home1" class="scroll"><img src="images/arrow.png" alt=" " class="img-responsive" /></a>
				</div>
			</div>
			<div class="container">
				<p>&copy; 2017 Electronic Store. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
		</div>
	</div>
	<!-- //footer --> 
	<!-- cart-js -->
	<script src="js/minicart.js"></script>
	<script>
        w3ls.render();

        w3ls.cart.on('w3sb_checkout', function (evt) {
        	var items, len, i;

        	if (this.subtotal() > 0) {
        		items = this.items();

        		for (i = 0, len = items.length; i < len; i++) { 
        		}
        	}
        });
    </script>  
	<!-- //cart-js -->   
</body>
</html>